@keyframes homeshift-left {
    from {right:0;}
    to {right:100vw;}
}
@keyframes homeshift-right {
    from {right:100vw;}
    to {right:0;}
}
@keyframes portfolioshift-left {
    from {left:100vw;}
    to {left:0;}
}
@keyframes portfolioshift-right {
    from {left:0;}
    to {left:100vw;}
}
* {
	margin:0;
	padding:0;
	color:#fff;
	font-family:Arial, sans-serif;
}
body {
	overflow-x:hidden;
	background:#ff8f3b;
}
p {
	font-size:20px;
}
h1, h2 {
	font-size:50px;
	margin-bottom:30px;
	text-align:center;
}
h3 {
	font-size:22px;
	margin-bottom:10px;
}
h4 {
	font-size:30px;
	font-weight:400;
	text-align:center;
}
a {
	text-decoration:underline;
	transition:.2s;
}
a:hover:not(.image) {
	color:#1a1a1a;
	background:#fff;
	text-decoration:none;
}
ul {
	list-style-type:none;
}
#portfolio-item li {
	font-size:20px;
	line-height:25px;
}
nav {
	background:rgba(0, 3, 33, 0.9);
	position:fixed;
	top:0;
	height:100vh;
	width:100vw;
	z-index:0;
	opacity:0;
	transition:.5s;
	display:flex;
	ul {
		align-self:center;
		margin:0 auto;
		text-align:center;
		li {
			font-size:90px;
			line-height:140px;
		}
	}
}
nav.active {
	z-index:1;
	opacity:1;
}
.button {
	top:0;
	z-index:2;
	background:#1a1a1a;
	border:2px solid #fff;
	transition:.5s;
	cursor:pointer;
	width:40px;
	height:40px;
	font-size:23px;
	text-decoration:none;
	display:flex;
}
.button span {
	align-self:center;
	margin:0 auto;
	transition:.5s;
}
.button:hover span {
	color:#1a1a1a;
}
.button#hamburger {
	right:0;
	position:fixed;
}
.button#hamburger span#x-icon {
	display:none;
}
#hamburger.x span#hamburger-icon {
	display:none;
}
#hamburger.x span#x-icon {
	display:block;
}
.button#back {
	position:absolute;
}
section:not(#portfolio) {
	padding:80px 80px;
}
section#welcome {
	.black {
		position:relative;
		right:75px;
		transition:.5s;
		opacity:0;
	}
	.black.show {
		right:0;
		opacity:1;
	}
	.two-third {
		padding-right:40px;
		border-right:1px dotted #fff;
	}
	.third {
		padding-left:40px;
	}
	img {
		width:100%;
	}
	#vert-image {
		display:none;
	}
}

section#portfolio {
	font-size:0;
	figure {
		width:33.33%;
		position:relative;
	}
	figcaption {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		display:flex;
		opacity:0;
		transition:.2s;
		background:hsla(0,0%,0%,0.75);
		 h4{
			align-self:center;
			width:100%;
			text-decoration:underline;
		}
	}
	 figcaption:hover {
		opacity:1;
	}
	img {
		width:100%;
	}
}
div#home {
	opacity:0;
}
div#home.show {
	opacity:1;
}
div#home, div#portfolio-item {
	position:relative;
	transition:1s opacity;
}
div#home.shift-left, div#home.shift-right {
    animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
div#home.shift-left {
	animation-name: homeshift-left;
}
div#home.shift-right {
	animation-name: homeshift-right;
	opacity:1;
}
div#portfolio-item {
    top: 0;
    left: 100vw;
	width:100%;
	opacity:0;
}
div#portfolio-item.shift-left, div#portfolio-item.shift-right {
    animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
div#portfolio-item.shift-left {
	animation-name: portfolioshift-left;
	opacity:1;
}
div#portfolio-item.shift-right {
	animation-name: portfolioshift-right;
	opacity:0;
}
div#portfolio-item .black img {
	width:100%;
	margin-bottom:40px;
}
.orange {
	background:#ff8f3b;
}
.white {
	background:#fff;
}
.black {
	background:#1a1a1a;
	padding:40px;
	margin:0 auto;
	box-shadow:4px 4px 16px #1a1a1a;
}
.small {
	max-width:450px;
}
.medium {
	max-width:600px;
}
.large {
	max-width:800px;
}
.third, .half, .two-third {
	display:inline-block;
}
.half {
	width:50%;
}
.third {
	width:32%;
}
.two-third {
	width:67%;
}
.left-border {
	border-right:1px dotted #fff;
}
.bottom-border {
	border-bottom:1px dotted #fff;
	padding-bottom:20px;
}
.flexer {
	display:flex;
	.half:first-of-type{
		padding-right:20px;
	}
	.half:nth-of-type(2) {
		padding-left:20px;
	}
	img {
		align-self:center;
	}
}
.bottom-border {
	padding-bottom:20px;
	margin-bottom:20px;
}
@media all and (max-width: 479px) {
	p, #portfolio-item li {
		font-size:15px;
	}
	section:not(#portfolio) {
		padding:30px 20px!important;
	}
	section#portfolio {
		display:block;
		figure{
			width:50%;
			display:inline-block;
		}
	}
	div#portfolio-item .black img {
		margin-bottom:20px;
	}
	.half {
		width:100%;
		padding-left:0!important;
		padding-right:0!important;
	}
	.left-border {
		border-right:none;
	}
	.bottom-border:not(.bottom-border-mob) {
		border-bottom:none;
		padding-bottom:0;
		margin-bottom:0;
	}
	.bottom-border-mob {
		border-bottom:1px dotted #fff;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	.bottom-link {
		margin-bottom:20px;
	}
	.flexer {
		display:block;
	}
	.black {
		box-shadow:2px 2px 15px #1a1a1a;
	}

}
@media all and (max-width: 767px) {
	h1, h2 {
		font-size:38px;
		margin-bottom:20px;
	}
	h4 {
		font-size:20px;
	}
	nav ul li {
		font-size:50px;
		line-height:80px;
	}
	section:not(#portfolio) {
		padding:60px 20px;
	}
	section#welcome .third {
		display:none;
	}
	section#welcome .two-third {
		border:none;
	}
	section#welcome #vert-image img {
		max-width:350px;
		margin:0 auto;
		display:block;
	}
	section#welcome .flexer:not(.third) {
		display:block;
	}
	.black {
		padding:20px;
	}
	.third, .two-third {
		width:100%!important;
		padding-left:0!important;
		padding-right:0!important;
	}
	#vert-image {
		display:block!important;
	}	
}
@media all and (max-width: 960px) {
	.third, .two-third {
		width:50%;
	}
}
@-moz-document url-prefix() {
   .button#back span {
		padding-bottom:3px;
   }
}